.rover-button {
  margin-top: 2%;
  display: inline-block;
  width: 100%;
  position: relative;
  
  .rover-button-img {
    position: relative;
    background-color: #000;
  }

  .col-1, .col-3 {
    width: 10%;
    height: 100%;
  }

  .col-1 {
    float: left;
  }

  .col-2 {
    width: 70%;
    height: 100%;
    text-align: center;

    h3 {
      width: 100%;
      color: #000;
      position: absolute;
      margin: 10% auto;
      font-family: Orbitron;
      font-size: 2em;
      transition: 0.4s;
    }
  }

  .col-3 {
    float: right;
  }  

  .button-img {
    width: 100%;
    transition: 0.4s;
  }

  .rover-button-img:hover {
    img {
      opacity: .3;
      transition: 0.4s;
    }

    h3 {
      margin: 45% auto;
      position: absolute;
      color: #FFF;
    }
  }

  @media only screen and (min-width: 550px) {
    display: inline-block;
    width: 50%;
    
    #rover1 {
      float: left;
      width: 99%;
    }
    
    #rover2 {
      float: right;
      width: 99%;
    }
    
    .rover-button-img {
      width: 100%;
    }
  }
}